* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./public/tech.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.text {
    font-size: 2.3rem;
    font-family: fantasy;
    font-weight: bolder;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: rgb(223, 12, 231);
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 100px;
    font-size: 1rem;
    background-color: rgb(0, 1, 46);
    text-align: center;
    height: 300px;
    width: 800px;
    margin-left: 110px;

}

.header-text h2 {
    padding: 20px;
    font-size: 2rem;
    font-family: cursive;

}

.header-text h2 span {

    color: rgb(223, 12, 231);
    font-family: cursive;
}

.header-text p {
    font-size: 1rem;
    font-family: cursive;
    line-height: 40px;


}

/*-------------------- About me ---------------------*/
#about {
    padding: 40px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-sec1 {
    flex-basis: 35%;
}

.about-sec1 img {
    width: 100%;
    border-radius: 15px;
    height: 100%;

}

.about-sec2 {
    flex-basis: 65%;
    color: rgb(232, 224, 228);
    font-size: 1rem;
    margin-top: 40px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    font-family: cursive;



}

.skills {

    border: none;
    font-size: 10px;
    color: white;
    text-align: left;
    padding: 10px;

}

table {
    border-spacing: 1px;
    width: 120%;
    padding: 10px;
}

table,
th,
td {
    border: none;

    font-size: 1rem;
}

th {
    text-align: center;
    font-size: 20px;
    color: rgb(223, 12, 231);
}


.about-hr {
    position: relative;
    left: 16rem;
    margin-top: 0.5rem;
    width: 10rem;
    border: 1px solid rgb(223, 12, 231);
}

.skills-logo {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.logos {
    width: auto;
    height: auto;
}

.skills-logo {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
}

/* ------------------project----------------------- */
#projects table {

    width: 50%;
    margin-left: 300px;
    text-align: center;

}

.project-hr {

    margin-left: 14rem;
    margin-top: 0.5rem;
    width: 10rem;
    border: 1px solid rgb(223, 12, 231);

}

.work {
    border-radius: 10px;

}

.work img {
    width: 50%;
    border-radius: 10px;
    margin-left: 40px;
    transition: ease-in-out 1s;
    filter: brightness(70%);
    margin-top: 1rem;
}

.work img:hover {
    transform: scale(1.09);
    filter: brightness(90%);
}

.amazon-text {

    margin-top: 1rem;
}

/* -- ------------Contact-------------- - */

.contact-head {
    margin-top: 2rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-hr {
    margin-top: -70px;

    margin-left: 35rem;
    width: 10rem;
    border: 1px solid rgb(223, 12, 231);

}

.contact-left {
    flex-basis: 35%;

}

.sub-title {
    line-height: 3rem;
}

.contact-right {
    flex-basis: 65%;
}

.contact-left {
    padding: 2rem;
    line-height: 2rem;

}

.contact-left p i {
    color: rgb(223, 12, 231);
    margin-right: 15px;
    font-size: 1rem;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: rgb(223, 12, 231);
    transform: translateY(-5px);
}

.contact-right form {

    width: 500px;
    margin-top: 3rem;
}

#error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

form input,
form textarea {
    width: 500px;
    border: 0;
    outline: none;
    background: rgb(22, 22, 33);
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 1;
    border-radius: 6px;

}

#button {
    background-color: #eaf1ef;
    border: none;
    color: rgb(7, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    border-top: 1px solid white;

}

.copyright {
    font-size: 1.5rem;
    color: rgb(223, 12, 231);
    letter-spacing: 0.2rem;
}

.copyright span {
    color: white;
    padding-bottom: 3rem;

}